<html lang="en">

<%- include('partials/head', { title: "World Game Catalogo" }) %>
<script src="/js/catalog.js"></script>

    <body>
         <%- include('nav-bar') %> 
            <main class="catalogContainer">
                <section class="catalogTitle">
                    <h1>CATÁLOGO DE JUEGOS WORLD GAME</h1>
                    <form action="/products" method="get" class="catalogSearch">
                        <label for="searchCatalog">Explora el catálogo completo.</label>
                        <div>
                            <input type="text" name="searchCatalog" id="searchCatalog"
                                placeholder="BUSCAR TODOS LOS JUEGOS">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </section>
                <section class="calogListContainer">
                    <section class="catalogFilters">
                        <h2>Filtros</h2>
                        <form action="/products" method="get">
                            <a href="/products">Borrar Filtros</a>
                            <h5 id="h5platform"><i class="fa-solid fa-angle-right"></i> Jugar en</h5>
                            <div id="platform">
                                <label for="xbox">
                                    <input type="radio" name="xbox" id="xbox" />
                                    Xbox
                                </label>
                                <label for="play">
                                    <input type="radio" name="playstation" id="play" />
                                    Play Station
                                </label>
                                <label for="pc">
                                    <input type="radio" name="pc" id="pc" />
                                    Pc
                                </label>
                            </div>

                            <h5 id="h5genre"><i class="fa-solid fa-angle-right"></i> Genero</h5>
                            <div id="genre">
                                <label for="action">
                                    <input type="radio" name="genre" id="action" />
                                    Accion
                                </label>
                                <label for="indie">
                                    <input type="radio" name="genre" id="indie" />
                                    Indie
                                </label>
                                <label for="shooter">
                                    <input type="radio" name="genre" id="shooter" />
                                    Shooter
                                </label>
                            </div>


                            <h5 id="h5sale"><i class="fa-solid fa-angle-right"></i> Ofertas</h5>
                            <div id="sale">
                                <label for="none">
                                    <input type="radio" name="none" id="none" />
                                    Ninguno
                                </label>
                                <label for="less">
                                    <input type="radio" name="less" id="less" />
                                    Menos 50%
                                </label>
                                <label for="more">
                                    <input type="radio" name="more" id="more" />
                                    Mas 50%
                                </label>
                            </div>

                            <button type="submit" class="filterSubmit">Aplicar</button>
                        </form>
                    </section>
                    <section class="catalogList">
                        <div class="catalogListTxt">
                            <div>
                                <h2>Todos los juegos</h2>
                                <p>Mostrando <%= games.length %>  resultados</p>
                            </div>
                        </div>
                        <div class="list">                            
                            <% games.forEach(game => {  %> 
                                 <%- include('partials/cardGame', { ...game.dataValues, games }) %>
                             <% }) %> 
                        
                        </div>
                    </section>
                </section>
                <section class="catalogPromo">
                    <div class="catalogPromoTxt">
                        <h4>Descubre tu siguiente juego favorito</h4>
                        <p>Juega lo mejor de lo mejor<br />Mira los mejores calificados</p>
                        <a href="#">Ir ahora</a>
                    </div>
                    <div class="catalogPromoImg" style="background-image: url(/images/haloimgmuestra768.jpg);">
                    </div>
                </section>
                <section class="catalogDigital">
                    <h4>¡Los discos ya son cosa del pasado!</h4>
                    <p>La mejor manera de jugar es el gaming digital</p>
                </section>
            </main>
            <%- include('partials/footer') %>