<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: "Comunidad" }) %>

    <body>
        <%- include('nav-bar') %>
            <main class="communityContainer">
                <section class="comunnityBanner">
                    <h1>Comunidad</h1>
                    <p>Comparte, Conecta y Disfruta.</p>
                    <% if (!localUser) { %>
                        <div>
                            <a href="/users/login">Unete ahora <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        <% } %>
                </section>
                <% if (localUser) { %>
                    <section class="communityCreate">
                        <form action="/community/create/<%= localUser.id %> " method="post"
                            enctype="multipart/form-data">
                            <textarea name="description" placeholder="Comparte con nosotros."></textarea>
                            <div>
                                <label for="imagePost">
                                    <i class="fa-regular fa-image"></i>
                                    <input type="file" id="imagePost" name="imagePost">
                                </label>
                                <select name="game">
                                    <% games.forEach(game=> { %>
                                        <option value="<%= game.id %>"><%= game.title %></option>
                                        <% }) %>
                                </select>
                                <button type="submit">Publicar</button>
                            </div>
                        </form>
                    </section>
                    <% } %>
                        <section class="communityPostList">
                            <% reversePost.map(post=> { %>
                                <%- include('partials/userPost', {...post.dataValues, localUser, games}) %>
                                    <% }) %>
                        </section>
                        <section class="communityPromo">
                            <p>Encuantra aqui tu juego favorito, y comprate experiencias unicas.</p>
                            <a href="/products">Encuentra lo mejor <i class="fa-solid fa-chevron-right"></i></a>
                        </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>