<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: "World Game" }) %>

  <body>
    <%- include('nav-bar') %>
      <main class="homeContainer">
        <section class="homeBanner">
          <picture>
            <source srcset="/images/haloimgmuestra320.jpg" media="(max-width: 767px)">
            <source srcset="/images/haloimgmuestra768.jpg" media="(max-width: 1083px)">
            <img src="/images/haloimgmuestra.jpg" alt="banner">
          </picture>
          <div class="homeBannerTxt">
            <h2>Halo Infinite</h2>
            <p>Play now!</p>
            <a href="#">Free ></a>
          </div>
        </section>
        <section class="homeIcons">
          <ul>
            <li>
              <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
                All games
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-percent"></i>
                Save up
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-gamepad"></i>
                Free 2 play
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-user"></i>
                Login
              </a>
            </li>
          </ul>
        </section>
        <section class="homeAds">
          <section class="Ad">
            <div class="AdImg" style="background-image: url(/images/products/<%=game1.img_card%>);">
            </div>
            <div class="AdTxt">
              <h3><%= game1.title %></h3>
              <p>Tu sigueinte favorito!</p>
              <a href="#">Get it now ></a>
            </div>
          </section>
          <div class="AdTwo">
            <section class="Ad">
              <div class="AdImg" style="background-image: url(/images/products/<%=game2.img_card%>);">
              </div>
              <div class="AdTxt">
                <h3><%= game2.title %></h3>
                <p>No lo puedes dejar pasar</p>
                <a href="#">Get it now ></a>
              </div>
            </section>
            <section class="Ad">
              <div class="AdImg" style="background-image: url(/images/products/<%=game3.img_card%>);">
              </div>
              <div class="AdTxt">
                <h3><%= game3.title %></h3>
                <p>Te encantara!</p>
                <a href="#">Get it now ></a>
              </div>
            </section>
          </div>
        </section>
        <section class="homeFreeGames" style="background-image: url(/images/freeGameBG.jpg);">
          <h2>Free this week</h2>
          <section class="homeGame">
            <picture class="homeGameImg">
              <img src="/images/products/<%=freeGame1.img_card%>" alt="muestra">
            </picture>
            <div class="homeGameTxt">
              <h3><%= freeGame1.title %></h3>
              <h4>Free this week!</h4>
              <a href="#">Get it now ></a>
            </div>
          </section>
          <section class="homeGame">
            <picture class="homeGameImg">
              <img src="/images/products/<%=freeGame2.img_card%>" alt="muestra">
            </picture>
            <div class="homeGameTxt">
              <h3><%= freeGame2.title %></h3>
              <h4>Free this week!</h4>
              <a href="#">Get it now ></a>
            </div>
          </section>
        </section>
        <section class="homeRecomended">
          <h2>Recomended for you</h2>
          <%- include('partials/cardGame', { ...game4 }) %>
          <%- include('partials/cardGame', { ...game6 }) %>
          <%- include('partials/cardGame', { ...game7 }) %>
          <%- include('partials/cardGame', { ...game8 }) %>
        </section>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>