<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: "World Game" }) %>

  <body>
    <!-- <%- include('nav-bar') %> -->
    <main class="homeContainer">
      <section class="homeBanner">
        <picture>
          <source srcset="/img/haloimgmuestra320.jpg" media="(max-width: 767px)">
          <source srcset="/img/haloimgmuestra768.jpg" media="(max-width: 1083px)">
          <img src="/img/haloimgmuestra.jpg" alt="banner">
        </picture>
        <div class="homeBannerTxt">
          <h2>Halo Infinite</h2>
          <p>Play now!Play now!Play now!Play now!Play now!</p>
          <a href="#">Free ></a>
        </div>
      </section>
      <section class="homeIcons">
        <ul>
          <li>
            <i class="fa-regular fa-gamepad"></i>
            <a href="#">All games</a>
          </li>
          <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="#">Save up</a>
          </li>
          <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="#">Free 2 play</a>
          </li>
          <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="#">Login</a>
          </li>
        </ul>
      </section>
      <section class="homeAds">
        <section class="Ad">
          <div class="AdImg" style="background-image: url(/img/haloimgmuestra768.jpg);">
          </div>
          <div class="AdTxt">
            <h3>Halo infinite</h3>
            <p>Become spartan!</p>
            <a href="#">Get it now ></a>
          </div>
        </section>
        <div class="AdTwo">
          <section class="Ad">
            <div class="AdImg" style="background-image: url(/img/haloimgmuestra768.jpg);">
            </div>
            <div class="AdTxt">
              <h3>Halo infinite</h3>
              <p>Become spartan!</p>
              <a href="#">Get it now ></a>
            </div>
          </section>
          <section class="Ad">
            <div class="AdImg" style="background-image: url(/img/haloimgmuestra768.jpg);">
            </div>
            <div class="AdTxt">
              <h3>Halo infinite</h3>
              <p>Become spartan!</p>
              <a href="#">Get it now ></a>
            </div>
          </section>
        </div>
      </section>
      <section class="homeFreeGames" style="background-image: url(/img/haloimgmuestra768.jpg);">
        <h2>Free this week</h2>
          <section class="homeGame">
            <picture class="homeGameImg">
              <img src="/img/haloimgmuestra2.jpg" alt="muestra">
            </picture>
            <div class="homeGameTxt">
              <h3>Halo infinite</h3>
              <h4>Free this week!</h4>
              <a href="#">Get it now ></a>
            </div>
          </section>
          <section class="homeGame">
            <picture class="homeGameImg">
              <img src="/img/haloimgmuestra2.jpg" alt="muestra">
            </picture>
            <div class="homeGameTxt">
              <h3>Halo infinite</h3>
              <h4>Free this week!</h4>
              <a href="#">Get it now ></a>
            </div>
          </section>
      </section>
      <section class="homeRecomended">
        <h2>Recomended for you</h2>
        <%- include('partials/cardGame', { discount: 50 }) %>
          <%- include('partials/cardGame', { discount: 0 }) %>
            <%- include('partials/cardGame', { discount: 15 }) %>
              <%- include('partials/cardGame', { discount: 0 }) %>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>

</html>