<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: "Titulo del juego" }) %>

    <body>
        <%- include('nav-bar') %>
            <main class="det-main">
                <div class="det-container">
                    <div class="det-header">
                        <div class="det-back-img">
                            <img src="/images/img_product_1.jpg" alt="">
                        </div>
                        <div class="det-overlay"></div>
                        <div class="det-content">
                            <div class="det-img-prd">
                                <img src="/images/img_product_2.jpg" alt="">
                            </div>
                            <div class="det-det-prd">
                                <div class="det-det-prd-1">
                                    <h1><%=game.title %></h1>
                                </div>
                                <div class="det-des">
                                    <span>
                                        Humble Games • Acción y aventura • Puzles y curiosidades
                                    </span>
                                </div>
                                <div class="det-price">
                                    <span>COP$80.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="det-cont-1">
                            <div class="det-cont-1_1">
                                <div class="det-row-1">
                                    <div class="det-acce">
                                        <div class="det-i-acc">
                                            <i class="fa-solid fa-wheelchair-move"></i>
                                        </div>
                                        <span>
                                            3 Funcionalidades de accesibilidad
                                        </span>
                                    </div>
                                </div>
                                <div class="det-acce">
                                    <div class="det-i-idioms">
                                        <i class="fa-solid fa-globe"></i>
                                    </div>
                                    <span>
                                        6 idiomas admitidos
                                    </span>
                                </div>
                            </div>
                            <div class="det-buttons">
                                <div class="det-but-green">
                                    <button class="det-but-game">
                                        OBTENER GAME PASS
                                    </button>
                                </div>
                                <div class="det-but-grey">
                                   <form action="/shoppingCart/<%=game.id%>" method="post">
                                    <% if (localUser) { %>
                                        <button class="det-but-1" type="submit">
                                            COMPRAR
                                        </button>
                                    <% } else { %>
                                        <a href="/users/login">COMPRAR</a>
                                    <% } %>
                                   </form>
                                    <button class="det-but-2">
                                        ● ● ●
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="det-cat">
                        <div class="det-cat-content">
                            <img src="/images/global.jpg" alt="">
                            <div>
                                <h1>ADOLESCENTES</h1>
                                <span>
                                    Sangre, Referencia a drogas, Lenguaje, Temas insinuantes, Violencia, Consum
                                    d'alcohol i tabac
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="det-descrip-cont">
                        <h1>Descripción</h1>
                        <div class="det-description">
                            <p>Es medianoche en Singapur. Tu contacto no se ha presentado y tu cliente empieza a impacientarse. No te queda ni un duro en la cuenta del banco y la idea se cierne sobre ti como una espada de Damocles teñida de neón. Te damos la bienvenida al 2037 y a Chinatown Detective Agency.

                                Con la economía global a punto de tocar fondo tras el colapso que empezó hace una década, el mundo está sumido en la incertidumbre. Singapur es el único lugar que queda con algo de orden, pero, incluso aquí, el gobierno se tambalea al borde del abismo. Y ahí es donde entras tú. Eres Amira Darma, una antigua joven promesa de la INTERPOL que se reinventa como investigadora privada en el centro de Chinatown. Tu primer cliente está a punto de cruzar la puerta...
                                
                                EXPLORA UN MUNDO AL BORDE DEL CAOS
                                Las luces de neón se reflejan en los charcos de lluvia. La furia de las masas ha quedado plasmada en los grafitis esparcidos por las ciudades en decadencia. Las tinieblas envolventes de Londres y las luces cegadoras de Shanghái son parte del conjunto. Explora más de un centenar de ambientes reproducidos con maestría por el artista Ricardo Juchem y sumérgete en el futuro caótico del año 2037. Viaja por el mundo desde tu agencia de Singapur en busca de pistas y habla con montones de personajes con voces únicas y misteriosas agendas.
                                
                                RESUELVE LOS CASOS INVESTIGANDO EN EL MUNDO REAL
                                Los casos que acepta Amira requieren inteligencia e intuición, pero ¿qué sucede cuando las pistas se agotan? Ahí es cuando te toca ir más allá del juego para encontrar respuestas. Los misterios de Chinatown Detective Agency requieren investigar en el mundo real, ya sea haciendo búsquedas por internet para encontrar el código de un aeropuerto o para ubicar una cita misteriosa. No solo juegas a ser detective, sino que te conviertes en uno de verdad.
                                
                                ¡NO TE ARRUINES!
                                En Chinatown Detective Agency el tiempo es un recurso valioso. Usa el tiempo y el dinero sabiamente para ganar ventaja y evita el peligro inminente de quedarte sin blanca.
                                
                                Cada decisión que tomes afectará al mundo que te rodea y cambiará la historia de Amira para siempre. ¿Serás capaz de salvar la ciudad de las garras del pánico y el caos?
                            </p>
                        </div>
                    </div>
                    <div>
                        <h1>Detalles</h1>
                    </div>
                    <div>
                        <h1>Plataformas</h1>
                    </div>
                    <div>
                        <h1>Funcionalidades</h1>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>