<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: "Login" }) %>
    <!-- <script src="/js/checkboxCreateProduct.js"></script> -->
</head>
<body class="bg-form">
    <%- include('nav-bar') %>
    <form class="signup-form" action="/products/create" method="POST" enctype="multipart/form-data">
        <h2 class="form-create-product">Agregar Juego</h2>
        <p class="message"></p>
        <label for="title">
            <input class="input-title" type="text" name="title" id="title" placeholder="Título del juego">
            <% if (locals.errors && errors.title){%>
                <span class="error"><%= errors.title.msg %></span>
            <%}%>
        </label>
        <label for="description">
            <textarea class="input-description" placeholder="Descripción" name="description" id="description" cols="38" rows="5"></textarea>
            <% if (locals.errors && errors.description){%>
                <span class="error"><%= errors.description.msg %></span>
            <%}%>
        </label>
        <label for="price">
            <input type="number" name="price" id="price" placeholder="Precio">
            <% if (locals.errors && errors.price){%>
                <span class="error"><%= errors.price.msg %></span>
            <%}%>
        </label>
        <label for="discount">
            <input type="number" name="discount" id="discount" placeholder="Descuento">
            <% if (locals.errors && errors.discount){%>
                <span class="error"><%= errors.discount.msg %></span>
            <%}%>
        </label>
        <label for="imgCard">
            <input type="file" name="imgCard" id="imgCard" placeholder="Imagen para inicio">
        </label>
        <label for="ratingAge">
            <input type="number" min="0" max="21" name="ratingAge" id="ratingAge" placeholder="Clasificación de edad">
        </label>
    
        <select name="genre" id="">
            <option value="">Generos</option>
                <% let genres=['Acción y aventura', 'Juegos de rol', 'Lucha', 'Shooter', 'Deportes', 'Survival Horror'] %>
                <% genres.forEach((specificGenre, index)=> { %>
                    <option value="<%= index + 1 %>" <%=(locals.oldData &&
                        (specificGenre === oldData.genre))?'selected':null %>><%= specificGenre %>
                    </option>
                <% }) %>
        </select>
        <% if (locals.errors && errors.genre){%>
            <span class="error"><%= errors.genre.msg %></span>
        <%}%>
        <p>Plataforma</p>
        <p>Xbox:</p>
        <label for="xbox"><input type="radio" name="xbox" value="1">Si</label>
        <label for="xbox"><input type="radio" name="xbox" value="0" checked>No</label>
        <p>Pc:</p>
        <label for="pc"><input type="radio" name="pc" value="1">Si</label>
        <label for="pc"><input type="radio" name="pc" value="0" checked>No</label>
        <p>Play Station:</p>
        <label for="play"><input type="radio" name="play" value="1">Si</label>
        <label for="play"><input type="radio" name="play" value="0" checked>No</label>
        <% if (locals.errors && errors.platform){%>
            <span class="error"><%= errors.platform.msg %></span>
        <%}%>
        <button type="submit">Agregar</button>
    </form>
    <script src="/js/createProduct.js"></script>
</body>
</html>