<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Carro de compra" }) %>

    <body>
        <%- include('nav-bar') %>

            <main class="cartContainer">
                <section class="cartEmtpy">
                    <div>
                        <h3>
                            Carro
                        </h3>
                        <a href="/products/">Continuar comprando</a>
                    </div>
                    <hr>
                    <p>Tu carro está vacío.</p>
                </section>
                <section class="cartListContainer">
                    <h1>Carro de compras</h1>
                    <div class="cartList">
                        <% games.forEach(game=> { %>
                            <% if (cartID.includes(game.id)) { %>
                                <article>
                                <div>
                                    <img src="/images/products/<%= game.img_card %> " alt="<%= game.title %>">
                                    <h3><%= game.title %> </h3>
                                </div>
                                <span>
                                    <p>% <%= game.discount %></p>
                                    <h4>$ <%= game.price.toFixed(3) %></h4>
                                </span>
                                <% let idToDelete =  cartID.filter%> 
                                <form action="/shoppingCart/<%=game.id%>?_method=DELETE" method="post">
                                    <button type="submit">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                                </article>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <section class="cartPay">
                    <p>total:</p>
                    <h3>$999999</h3>
                    <a href="">comprar</a>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>