<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: "Registrarse" }) %>
</head>
<body class="bg-form">
    <%- include('nav-bar') %>

    <% function showError (param){ %>
        <p class="">
            <% if (typeof errors !="undefined" ) { %>
                <% errors.forEach(specificError=> { %>
                    <% if (specificError.param===param ) { %>
                        <%= specificError.msg %>
                    <% } %>
                <% }) %>
            <% } %>
        </p>
    <% } %>

    <form class="signup-form" action="/users/signup" method="POST" enctype="multipart/form-data">
        <h2>Registrarse</h2>
        <label for="userName"> 
            <input type="text" name="userName" id="userName" placeholder="Username" value="<%= locals.oldData?oldData.userName:null %>">
            <% showError('userName') %>
        </label>
        <label for="userNickname">
            <input type="text" name="userNickname" id="userNickname" placeholder="Nickname" value="<%= locals.oldData?oldData.userNickname:null %>">
            <% showError('userNickname') %>
        </label>
        <label for="userEmail">
            <input type="userEmail" name="userEmail" id="userEmail" placeholder="Email"value="<%= locals.oldData?oldData.userEmail:null %>">
            <% showError('userEmail') %>
        </label>
        <label for="userPassword">
            <input type="userPassword" name="userPassword" id="userPassword" placeholder="Password"value="<%= locals.oldData?oldData.userPassword:null %>">
            <% showError('userPassword') %>
        </label>
        <label class="form-img" for="userImg">
            <input type="file" name="userImg" id="userImg" placeholder="Image">
        </label>
        <button type="submit">Registrarse</button>
        <p>¿Ya tienes cuenta? <a href="/users/login">Inicia sesión</a></p>
    </form>
</body>
</html>
