<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "nickName - perfil " }) %>
    <script src="/js/userProfile.js"></script>

    <body>
        <%- include('nav-bar') %>
            <main class="profileContainer">
                <section class="profileInfo" style="background-image: url(/images/bg-signup.jpeg);">
                    <div class="blur">
                        <img src="/images/usersProfileImages/<%=user.img_user%> " alt="<%=user.nickName%>"
                            draggable="false">
                        <div>
                            <h1>
                                <%=user.name %>
                            </h1>
                            <h4>
                                <%=user.nickName%>
                            </h4>
                            <p>
                                <%=user.email%>
                            </p>
                            <span id="editButton">Editar perfil</span>
                            <a href="/users/logout">Cerrar sesion </a>
                        </div>
                    </div>
                </section>
                <section class="profileLibrary" id="library">
                    <h2>Mi biblioteca</h2>
                    <div class="space"></div>
                    <h2 class="unFocus" id="postButton">Mis publicaciones</h2>
                    <% if (library.length !=0) { %>
                        <div class="libraryList">
                            <% library.forEach( data=> { %>
                                <a href="/products/productdetail/<%= data.game.id %>" >
                                    <div>
                                        <img src="/images/products/<%= data.game.img_card %> " alt="banner">
                                        <h3>
                                            <%= data.game.title %>
                                        </h3>
                                    </div>
                                </a>
                                <% }) %>
                        </div>
                        <% } else {%>
                            <div class="empty">
                                <h4>No hay nada, aun!</h4>
                                <p>Conoce tu sigiente juego favorito</p>
                                <a href="/products">Ir ahora</a>
                            </div>
                            <% } %>
                </section>
                <section class="profilePosts" id="posts">
                    <h2 class="unFocus" id="libraryButton">Mi biblioteca</h2>
                    <div class="space"></div>
                    <h2>Mis publicaciones</h2>
                    <% posts.map(post=> { %>
                        <%- include('partials/userPost', {...post.dataValues, localUser, users, games}) %>
                            <% }) %>

                </section>
                <section class="profileEdit" id="editForm">
                    <h2>Editar Usuario</h2>
                    <p>email@email.com</p>
                    <form action="/users/profile/edit/<%=user.id%>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <label for="userNick">
                            NickName:
                            <input type="text" id="userNick" name="userNick" value="<%= user.nickName%>">
                        </label>
                        <label for="userName">
                            Nombre:
                            <input type="text" id="userName" name="userName" value="<%= user.name %>">
                        </label>
                        <label for="userImg">
                            Foto de perfil:
                            <input type="file" id="userImg" name="UserImg">
                        </label>
                        <label for="password">
                            Nueva contraseña:
                            <input name="password" type="password" value="">
                        </label>
                        <button type="submit">Guardar</button>
                        <button type="reset" id="editCancel">Cancelar</button>
                    </form>
                    <form style="padding-top: 15px;" action="/users/profile/delete/<%= user.id%>?_method=DELETE"
                        method="POST">
                        <button type="submit">Borrar usuario</button>
                    </form>
                </section>
                <section class="profilePromo">
                    <div class="profilePromoTxt">
                        <h4>Amplia tu biblioteca de juegos</h4>
                        <p>Juega lo mejor de lo mejor<br />Mira los mejores calificados</p>
                        <a href="#">Ir ahora</a>
                    </div>
                    <div class="profilePromoImg" style="background-image: url(/images/haloimgmuestra768.jpg);">
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>